@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: tailwind-ism */
@custom-variant dark (&:where(.dark, .dark *));

body {
  /* biome-ignore lint/suspicious/noUnknownAtRules: tailwind plugin */
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
